#%RAML 1.0
---

title: Get State Pension calculation
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: [ application/json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
 - title: Testing
   content: !include docs/testing.md

/individuals/state-pension-calculation:

  /calculation:
    post:
      displayName: Get a State Pension calculation
      description: Gets a State Pension calculation for an individual.
      is: [headers.acceptHeader]
      headers:
        Correlationid:
          description: Identifier used to track a request throughout the service.
          type: string
          required: true
          example: 543f61b1-14c1-45a4-afd8-bd064a6738c4

      (annotations.scope): "read:state-pension-calculation"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:state-pension-calculation" ] } ]

      body:
        application/json:
          type: !include docs/schemas/get-calculation/request.json
          examples:
            example-1:
              description: Get initial calculation
              value: !include docs/examples/get-calculation/request-initial.json
            example-2:
              description: Get final calculation using a FRY amount.
              value: !include docs/examples/get-calculation/request-final-with-fry.json
            example-3:
              description: Get final calculation without a FRY amount.
              value: !include docs/examples/get-calculation/request-final-without-fry.json

      responses:
        201:
          headers:
            Correlationid:
              description: Identifier used to track a request throughout the service.
              type: string
              required: true
              example: 543f61b1-14c1-45a4-afd8-bd064a6738c4

          body:
            application/json:
              type: !include docs/schemas/get-calculation/success.json
              examples:
                standardResponse:
                  description: Example with all arrays populated.
                  value: !include docs/examples/get-calculation/success.json
                noNotesResponse:
                  description: Example with no notes.
                  value: !include docs/examples/get-calculation/success-no-notes.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                invalidRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
                fryAmountNotExpected:
                  description: FRY amount supplied with initial calculation request
                  value:
                    code: FRY_AMOUNT_NOT_EXPECTED
        403:
          body:
            application/json:
              type: types.errorResponse
              examples:
                retirementDateAfterPensionAge:
                  description: The date of retirement is after the death of the individual.
                  value:
                    code: RETIREMENT_DATE_AFTER_DEATH_DATE
                tooEarly:
                  description: The pension calculation can only be done within 6 months of the SPA date
                  value:
                    code: TOO_EARLY
                unknownBusinessError:
                  description: An unknown business validation error occurred
                  value:
                    code: UNKNOWN_BUSINESS_ERROR
                calculationError:
                  description: Unable to perform calculation. The code is unique to the calculation error.
                  value:
                    code: CALCULATION_ERROR_ followed by five or six numeric digits e.g. CALCULATION_ERROR_12345
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                ninoNotFound:
                  description: NINO not found
                  value:
                    code: NOT_FOUND_NINO
                matchNotFound:
                  description: Match not found for individual
                  value:
                    code: NOT_FOUND_MATCH


      (annotations.sandboxData): !include docs/testData.md
