#%RAML 1.0
---

title: Get State Pension calculation
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: [ application/json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
 - title: Testing
   content: !include docs/testing.md

/individuals/state-pension-calculation:

  /calculation:
    post:
      displayName: Get a State Pension calculation
      description: Gets a State Pension calculation for an individual.
      is: [headers.acceptHeader]
      (annotations.scope): "read:state-pension-calculation"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:state-pension-calculation" ] } ]

      body:
        application/json:
          type: !include docs/schemas/get-calculation/request.json
          examples:
            example-1:
              description: Get initial calculation
              value: !include docs/examples/get-calculation/request-initial.json
            example-2:
              description: Get final calculation using a FRY amount.
              value: !include docs/examples/get-calculation/request-final-with-fry.json
            example-3:
              description: Get final calculation without a FRY amount.
              value: !include docs/examples/get-calculation/request-final-without-fry.json

      responses:
        201:
          body:
            application/json:
              type: !include docs/schemas/get-calculation/success.json
              examples:
                example-1:
                  description: Example with all arrays populated.
                  value: !include docs/examples/get-calculation/success.json
                example-2:
                  description: Example with no notes or qualifying years.
                  value: !include docs/examples/get-calculation/success-empty-arrays.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                invalidRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
                fryAmountNotExpected:
                  description: FRY amount supplied with initial calualtion request
                  value:
                    code: FRY_AMOUNT_NOT_EXPECTED
        403:
          body:
            application/json:
              type: types.errorResponse
              examples:
                retirementDateAfterPensionAge:
                  description: The date of retirement is after the deemed pension age
                  value:
                    code: RETIREMENT_DATE_AFTER_PENSION_AGE
                tooEarly:
                  description: The pension calculation can only be done within 6 months of the SPA date
                  value:
                    code: TOO_EARLY
                unknownBusinessError:
                  description: An unknown business validation error occurred
                  value:
                    code: UNKNOWN_BUSINESS_ERROR
                calculationError:
                  description: Unable to perform calculation. The code is unique to the calcualtion error.
                  value:
                    code: Four to five numeric digits that represents the calculation error For example 12345
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                ninoNotFound:
                  description: NINO not found
                  value:
                    code: NOT_FOUND_NINO
                matchNotFound:
                  description: Match not found for individual
                  value:
                    code: NOT_FOUND_MATCH
        500:
          body:
            application/json:
              type: types.errorResponse
              examples:
                serverError:
                  description: Service error occured
                  value:
                    code: SERVER_ERROR
        503:
          body:
            application/json:
              type: types.errorResponse
              examples:
                serviceUnavailable:
                  description: Service is unavailable
                  value:
                    code: SERVICE_UNAVAILABLE


      (annotations.sandboxData): !include docs/testData.md
